@foreach (var car in Model)
{
        <div class="row searchresults-block">
              <div class="col-md-12">
                   <div class="img-container">
                       <div class="overlay-container">
                           <img src="@Url.Content(car.Thumbnail)" alt="@car.Title" class="img" />
                           <div class="overlay"></div>
                       </div>
                        <div class="button" onclick="location.href='@Url.Action(ViewData["action"].ToString(), "Home",new { id = @car.Id})'">
                            <span>@ViewData["buttonName"].ToString()</span>
                        </div>
                   </div>
                   <div>@car.Title</div>
                   <div>@car.Price</div>
              </div>
       </div>
}
